/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:

✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

/* header [ */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin-top: 100px;
  border: 2px solid var(--text-color);
  padding-top: 120px;
  padding-bottom: clamp(7.5rem, 7.39rem + 0.47vw, 7.813rem);
  color: var(--text-color);
  background-color: var(--background-color);
}

.header__title {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(3.0625rem, 2.7109rem + 1.5vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.6758rem + 0.8500000000000001vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
/* header ] */

/* main [ */
.main {
  margin-top: 98px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}

.main__card-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--main-card-list);
  list-style: none;
}

.main__card-item {
  border: 2px solid var(--text-color);
  padding-bottom: 9px;
}

.main__title {
  padding: 4px 10px;
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" 700;
}

.main__img-wrapper {
  position: relative;
}

.main__img {
  display: block;
  width: 100%;
  height: auto;
}

.main__img-label {
  position: absolute;
  top: 24px;
  right: 26px;
  z-index: 2;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--stroke-color)) {
  .main__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.main__text-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 17px;
  padding-left: 25px;
}

.main__paragraph {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-variation-settings: "wght" 410;
}

.main__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 2px solid transparent;
  border-radius: 0;
  border-radius: 0;
  padding: 0;
  outline: none;
  color: var(--text-color);
  background: none;
  background-color: var(--background-color);
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.like-icon {
  display: block;
  width: 39px;
  height: 36px;
}

.main__icon-save {
  width: 23px;
  height: 23px;
}

/* main ] */

/* buttons [*/
.modal-ok-btn,
.main__btn-save,
.card__like-button {
  position: relative;
  border: 2px solid var(--text-color);
  border-radius: 0;
  outline: none;
  overflow: hidden;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
}
.modal-ok-btn:focus-visible,
.main__btn-save:focus-visible,
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color);
}

.modal-ok-btn::before,
.main__btn-save::before,
.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.modal-ok-btn:hover::before,
.main__btn-save:hover::before,
.card__like-button:hover::before {
  transform: scaleX(1);
}

.modal-ok-btn span,
.main__btn-save span,
.main__btn-save svg,
.card__like-button span {
  color: var(--background-color);
  mix-blend-mode: difference;
}

.main__btn-save svg {
  fill: var(--background-color);
  stroke: var(--background-color);
  mix-blend-mode: difference;
}

.modal-ok-btn {
  grid-column: 1 / -1;
  padding: 9px 17px;
  text-transform: uppercase;
}

.main__btn-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  margin-top: var(--main-card-list);
  padding: 15px;
}

.card__like-button {
  padding: 10px 35px;
}
/* buttons ]*/

/* dialog [ */
.modal[open] {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-columns: auto;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  width: 353px;
  padding: 30px;
}

.modal::backdrop {
  opacity: 0.5;
  background-color: var(--text-color);
}

.modal .main__icon-save {
  width: 39px;
  height: 39px;
}

.modal-paragraph {
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

/* dialog ] */

/* image-filters [ */

.filter-contrast {
  filter: contrast(200%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-grayscale {
  filter: grayscale(70%);
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(165deg) brightness(150%) blur(2px);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-xray {
  filter: invert(10%) contrast(200%) grayscale(100%);
}
/* image-filters ] */

/* animated-elements [ */
.heart {
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  opacity: 0;
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3 ease;
}

.like-icon:active .core {
  fill: var(--animation-core-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-core-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  animation: sparks-appear 0.3s ease-in 0.3s 1;
}

.like-icon:hover .core {
  fill: var(--animation-core-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon {
  pointer-events: all; /* ← разрешаем события на всей иконке */
}

.card__icon-button:hover .like-icon .core {
  background: red;
  fill: red;
}

/* animated-elements ] */

/* adaptability [ */
@media (max-width: 376px) {
  .main__btn-save {
    flex-direction: column;
    padding: 14px;
  }

  .main__icon-save {
    width: 30px;
    height: 30px;
  }

  .modal[open] {
    width: 341px;
    padding: 30px 40px;
  }
}
/* adaptability ] */
