/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:

✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
}

.container {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

/* header [ */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  margin-top: 100px;
  padding-top: 120px;
  padding-bottom: clamp(7.5rem, 7.39rem + 0.47vw, 7.813rem);
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
}

.header__title {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(3.0625rem, 2.7109rem + 1.5vw, 4.0625rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.6758rem + 0.8500000000000001vw, 1.4375rem);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
/* header ] */

/* main [ */
.main {
  /* margin-top: 103px; */
  margin-top: 98px;
  padding-bottom: 100px;
  background-color: var(--background-color);
}

.main__card-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--main-card-list);
  list-style: none;
}

.main__card-item {
  border: 2px solid var(--text-color);
  padding-bottom: 9px;
}

.main__title {
  padding: 4px 10px;
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-variation-settings: "wght" 700;
}

.main__img-wrapper {
  position: relative;
}

.main__img {
  display: block;
  width: 100%;
  height: auto;
}

.main__img-label {
  position: absolute;
  top: 24px;
  right: 26px;
  z-index: 2;
  opacity: 0.5;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 var(--stroke-color),
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--stroke-color)) {
  .main__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.main__text-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 17px;
  padding-left: 25px;
}

.main__paragraph {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-variation-settings: "wght" 410;
}

.main__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-left: auto;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.card__like-button {
  border: 2px solid var(--text-color);
  border-radius: 0;
  padding: 10px 35px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  background-color: var(--background-color);
}

.like-icon {
  display: block;
  width: 39px;
  height: 36px;
}

.main__btn-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  margin-top: 49px;
  border: 2px solid var(--text-color);
  border-radius: 0;
  padding: 15px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  background-color: var(--background-color);
}

.main__icon-save {
  width: 23px;
  height: 23px;
}

/* main ] */

/* dialog [ */
.modal[open] {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-columns: auto;
  column-gap: 20px;
  row-gap: 30px;
  width: 353px;
  padding: 30px;
  align-items: center;
}

.modal .main__icon-save {
  width: 39px;
  height: 39px;
}

.modal-paragraph {
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

.modal-ok-btn {
  grid-column: 1 / -1;
  border: 2px solid var(--text-color);
  padding: 9px 17px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
  text-transform: uppercase;
  background-color: var(--background-color);
}

/* dialog ] */

/* adaptability [ */
@media (max-width: 376px) {
  .main__btn-save {
    flex-direction: column;
    padding: 14px;
  }

  .main__icon-save {
    width: 30px;
    height: 30px;
  }

  .modal[open] {
    width: 341px;
    padding: 30px 40px;
  }
}
/* adaptability ] */
