/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* fonts [ */
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --main-font-weight: 400;
  --title-font-weight: 700;
  /* fonts ] */

  /* colors [ */
  --text-color: #000;
  --background-color: #fff;
  --stroke-color: #fff;
  --button-bg-color: #fff;
  --button-text-color: #000000;
  
  --contour-color: #000; /* цвет контура */
  --animation-fill-color: #ff0000; /* красный для заливки и искр */
  --animation-core-color: #ff0000; /* красный для сердцевины */
  /* colors ] */

  /* sizes [ */
  --content-width: 700px;
  --main-card-list: 47px;
  /* sizes ] */

  --background-image:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}
@media (max-width: 376px) {
  :root {
    --main-card-list: 49px;
  }
}
